:root {
    --background-main-color: #121212;
    --background-accent-color: #1D1D1D;
    --text-main-color: #FFFFFF;
    --text-accent-color: #BEA69E;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
}

/* навігація */
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.header {
    padding: 22px 50px 22px 50px;
    background-color: var(--background-main-color);
    background-image: url(/focusimg/header_graphic.svg);
}

.header-block {
    background-color: var(--background-main-color);
    display: flex;
    padding: 22px 50px;
    border: 1px solid rgba(225, 225, 225, 20);
    border-radius: 12px;
}

.header-block img {
    padding-right: 50px;
}

.header-nav-list {
    list-style: none;
    display: flex;
}

.header a {
    color: var(--text-main-color);
    font-size: 14px;
    font-weight: 400;
    margin-right: 40px;
    text-decoration: none;
    line-height: 120%;
}

.header a:hover {
    color: var(--text-accent-color);
}

.header-button {
    background-color: var(--text-main-color);
    color: var(--background-main-color);
    height: 60px;
    width: 238px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
}

/* розділ героя */
.hero-section .container {
    background-color: var(--background-accent-color);
    border-radius: 30px;
}

.hero-section {
    margin: 80px 0;
}

.hero-section-left {
    width: 563px;
    align-items: end;
    padding: 50px 0 50px 50px;
}

.hero-section-header h1 {
    color: var(--text-main-color);
    font-size: 64px;
    font-size: 500;
    line-height: 94%;
}

.hero-section-header p {
    padding-top: 20px;
}

.our-happy-students {
    padding-top: 136px;
    display: flex;
}

.hero-section-right {
    margin-top: auto;
    padding-right: 100px;
}


/* блок */
.block {
    background-color: var(--background-main-color);
    border: 1px solid rgba(225, 225, 225, 20);
    padding: 24px 100px;
}

.block-header {
    font-size: 59px;
    color: var(--text-main-color);
    font-weight: 400;
    line-height: 101%;
    letter-spacing: -2%;
}

/* про нас */
.about-us {
    display: flex;
    background-color: var(--background-main-color);
    padding: 150px 0;
}

.about-us-content {
    display: flex;
}

.about-us h4 {
    color: var(--text-main-color);
    font-size: 48px;
    font-weight: 500px;
    margin-bottom: 50px;
}

.about-us-content img {
    padding-right: 50px;
}

.about-us-content-p-1 {
    padding-right: 40px;
}

.about-us-text {
    color: var(--text-main-color);
}

.about-us-text {
    display: flex;
    flex-basis: 630px;
}


/* наш курс */
.our-courses {
    background-color: var(--background-main-color);
    padding: 150px 0;
}

.our-courses .container {
    padding: 0;
}

.our-courses-header {
    display: flex;
}

.card-list {
    
    list-style: none;
}

.our-courses h4 {
    font-size: 48px;
    font-weight: 500px;
    color: var(--text-main-color);
    margin-right: 410px;
}

.our-courses p {
    color: var(--text-main-color);
}

.our-courses-header-p {
    flex-basis: 565px;
    justify-content: flex-end;
}

.our-courses-cards {
    padding: 50px;
}

.our-courses-cards .container {
    display: flex;
    flex-wrap: wrap;
}

.card:not(:last-child) {
    padding-right: 20px;
}

.card-list {
    display: flex;
}

.our-courses-card {
    background-image: linear-gradient(to bottom,
            rgba(6, 7, 7, 1),
            rgba(29, 29, 29, 1));
    border: 1px solid rgba(225, 225, 225, 20%);
    border-radius: 12px;
}

.card {
    width: 400px;
}

.our-courses-card-menu {
    display: flex;
    color: #FFFFFF;
}

.our-courses-card h4 {
    font-size: 28px;
    font-weight: 500;
    line-height: 87, 5%;
    width: 256px;
    padding-top: 32px;
}

.our-courses-card p {
    font-size: 16px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 136px;
    width: 336px;
}

.our-courses-card:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);;
}

.basics-of-photography {
    padding: 32px;
}

/* наші ментори */
.our-mentors {
    background-color: var(--background-main-color);
    padding: 0;
}

.our-mentors-header {
    color: var(--text-main-color);
    font-size: 48px;
    font-weight: 500px;
    margin-bottom: 50px;
}

.our-mentors h5,
h4,
p {
    color: var(--text-main-color);
}

.our-mentors-content {
    display: flex;
    width: 1034px;
    justify-content: space-between;
    padding: 0 103px 0 103px;
}

.our-mentors-content-items h5 {
    font-size: 28px;
    font-weight: 400px;
}

.our-mentors-content-items p {
    font-size: 14px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
}

/* реєстрація */
.sign-up {
    background-color: var(--background-main-color);
    padding: 150px 0;
}

.sign-up-left {
    width: 480px;
}

.sign-up-left p {
    padding-top: 20px;
    padding-bottom: 40px;
}

.sign-up h4 {
    font-size: 48px;
    font-weight: 500px;
}

.sign-up p {
    font-size: 16px;
    font-weight: 400px;
}

.sign-up-img {
    align-items: end;
}

.instruction {
    font-size: 14px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
}

.contact-label {
    font-size: 16px;
    font-weight: 400px;
    color: var(--text-main-color);
}

.contact-input {
    width: 480px;
    height: 60px;
    background-color: var(--background-main-color);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}

.contact-textarea {
    height: 120px;
}

.contact-button {
    width: 479px;
    height: 60px;
    border: none;
    border-radius: 12px;
}

.sign-up-mini-camera {
    padding-right: 20px;
}

.contact {
    display: flex;
}

.sign-up-right {
    display: flex;
    align-items: flex-start;
}

/* відгуки */
.reviews {
    background-color: var(--background-main-color);
    padding: 150px 0;
}

.reviews h4 {
    font-size: 48px;
    font-weight: 500px;
}

.reviews h6 {
    font-size: 20px;
    font-weight: 500px;
    color: var(--text-main-color);
}

.review {
    display: flex;
    padding-top: 50px;
}

.review-first {
    align-self: flex-start;
}

.review-star {
    padding-top: 5px;
}

.review-first-top {
    display: flex;
}

.review-first-top-left {
    display: flex;
    padding: 3px 0 0 3px;
}

.review-first-top-left img {
    margin-right: 10px;
}

.review-first-bottom {
    padding-top: 20px;
}
/* футер */
.footer {
    background-color: var(--background-main-color);
    background-image: url(/focusimg/header_graphic.svg);
    padding: 50px 0 25px 0
}

.footer .container {
    display: flex;
}

.footer ul {
    list-style: none;
    color: var(--text-main-color);
}

/* котейнер */
.container {
    width: 1240px;
    margin: 0px auto;
    padding: 0px 15px;
}